{% extends 'main.html' %}

{% block content %}

<h1>{{event.name}}</h1>

{% if registered %}
You have already registered
{% endif %}

<a href="{% url 'registration_confirmation' event.id %}">Register</a>
<a href="{% url 'project_submission' event.id %}">Submit Project</a>
<p>{{event.description}}</p>
<div>
    <h3>Event Participants</h3>
    <div>
        {% for user in event.participants.all %}
        <div>
            <strong>{{user.name}}</strong>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content%}